<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Configure the access of IndexServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>index</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>index</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToRegisterServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>toRegister</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.ToRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>toRegister</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/toRegister</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of RegisterServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>register</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>register</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToLoginServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>toLogin</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.ToLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>toLogin</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/toLogin</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToNewUserServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>toNewUser</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.ToNewUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>toNewUser</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/toNewUser</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToErrorServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>toError</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.ToErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>toError</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/toError</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of LoginServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>login</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>login</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of LogoutServlet -->
	<servlet>
		<!-- Set Servlet name -->
		<servlet-name>logout</servlet-name>
		<!-- Set the Servlet class that processing requests: complete package path 
			+ class name -->
		<servlet-class>web.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- The Servlet name should keep consistent as above-mentioned -->
		<servlet-name>logout</servlet-name>
		<!-- The access path of Servlet -->
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToAdminServlet -->
	<servlet>
		<servlet-name>toAdmin</servlet-name>
		<servlet-class>web.ToAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toAdmin</servlet-name>
		<url-pattern>/toAdmin</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToOperatorServlet -->
	<servlet>
		<servlet-name>toOperator</servlet-name>
		<servlet-class>web.ToOperatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toOperator</servlet-name>
		<url-pattern>/toOperator</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDraftServlet -->
	<servlet>
		<servlet-name>toDraft</servlet-name>
		<servlet-class>web.ToDraftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDraft</servlet-name>
		<url-pattern>/toDraft</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of DraftServlet -->
	<servlet>
		<servlet-name>draft</servlet-name>
		<servlet-class>web.DraftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>draft</servlet-name>
		<url-pattern>/draft</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDfphtListServlet -->
	<servlet>
		<servlet-name>toDfphtList</servlet-name>
		<servlet-class>web.ToDfphtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDfphtList</servlet-name>
		<url-pattern>/toDfphtList</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToAssignOperServlet -->
	<servlet>
		<servlet-name>toAssignOper</servlet-name>
		<servlet-class>web.ToAssignOperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toAssignOper</servlet-name>
		<url-pattern>/toAssignOper</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of AssignOperServlet -->
	<servlet>
		<servlet-name>assignOper</servlet-name>
		<servlet-class>web.AssignOperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>assignOper</servlet-name>
		<url-pattern>/assignOper</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDhqhtListServlet -->
	<servlet>
		<servlet-name>toDhqhtList</servlet-name>
		<servlet-class>web.ToDhqhtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDhqhtList</servlet-name>
		<url-pattern>/toDhqhtList</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToAddHQOpinionServlet -->
	<servlet>
		<servlet-name>toAddHQOpinion</servlet-name>
		<servlet-class>web.ToAddHQOpinionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toAddHQOpinion</servlet-name>
		<url-pattern>/toAddHQOpinion</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of AddHQOpinionServlet -->
	<servlet>
		<servlet-name>addHQOpinion</servlet-name>
		<servlet-class>web.AddHQOpinionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addHQOpinion</servlet-name>
		<url-pattern>/addHQOpinion</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ContractDetailServlet -->
	<servlet>
		<servlet-name>contractDetail</servlet-name>
		<servlet-class>web.ContractDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contractDetail</servlet-name>
		<url-pattern>/contractDetail</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDdghtListServlet -->
	<servlet>
		<servlet-name>toDdghtList</servlet-name>
		<servlet-class>web.ToDdghtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDdghtList</servlet-name>
		<url-pattern>/toDdghtList</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDgContract -->
	<servlet>
		<servlet-name>toDgContract</servlet-name>
		<servlet-class>web.ToDgContractServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDgContract</servlet-name>
		<url-pattern>/toDgContract</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of DgContract -->
	<servlet>
		<servlet-name>dgContract</servlet-name>
		<servlet-class>web.DgContractServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dgContract</servlet-name>
		<url-pattern>/dgContract</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ShowHQOpinionServlet -->
	<servlet>
		<servlet-name>showHQOpinion</servlet-name>
		<servlet-class>web.ShowHQOpinionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showHQOpinion</servlet-name>
		<url-pattern>/showHQOpinion</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDshphtListServlet -->
	<servlet>
		<servlet-name>toDshphtList</servlet-name>
		<servlet-class>web.ToDshphtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDshphtList</servlet-name>
		<url-pattern>/toDshphtList</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToAddSHPOpinionServlet -->
	<servlet>
		<servlet-name>toAddSHPOpinion</servlet-name>
		<servlet-class>web.ToAddSHPOpinionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toAddSHPOpinion</servlet-name>
		<url-pattern>/toAddSHPOpinion</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of AddSHPOpinionServlet -->
	<servlet>
		<servlet-name>addSHPOpinion</servlet-name>
		<servlet-class>web.AddSHPOpinionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addSHPOpinion</servlet-name>
		<url-pattern>/addSHPOpinion</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDqdhtListServlet -->
	<servlet>
		<servlet-name>toDqdhtList</servlet-name>
		<servlet-class>web.ToDqdhtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDqdhtList</servlet-name>
		<url-pattern>/toDqdhtList</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToAddQDInfoServlet -->
	<servlet>
		<servlet-name>toAddQDInfo</servlet-name>
		<servlet-class>web.ToAddQDInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toAddQDInfo</servlet-name>
		<url-pattern>/toAddQDInfo</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of AddQDInfoServlet -->
	<servlet>
		<servlet-name>addQDInfo</servlet-name>
		<servlet-class>web.AddQDInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addQDInfo</servlet-name>
		<url-pattern>/addQDInfo</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToYhqxListServlet -->
	<servlet>
		<servlet-name>toYhqxList</servlet-name>
		<servlet-class>web.ToYhqxListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toYhqxList</servlet-name>
		<url-pattern>/toYhqxList</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of toUpdateUserServlet -->
	<servlet>
		<servlet-name>toUpdateUser</servlet-name>
		<servlet-class>userUpdate.jsp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toUpdateUser</servlet-name>
		<url-pattern>/toUpdateUser</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToAssignPermServlet -->
	<servlet>
		<servlet-name>toAssignPerm</servlet-name>
		<servlet-class>web.ToAssignPermServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toAssignPerm</servlet-name>
		<url-pattern>/toAssignPerm</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToActivate -->
	<servlet>
		<servlet-name>toActivate</servlet-name>
		<servlet-class>web.ToActivateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toActivate</servlet-name>
		<url-pattern>/toActivate</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDeleteUserServlet -->
	<servlet>
		<servlet-name>toDeleteUser</servlet-name>
		<servlet-class>web.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toDeleteUser</servlet-name>
		<url-pattern>/toDeleteUser</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of ToDeleteUserServlet -->
	<servlet>
		<servlet-name>toUserManagement</servlet-name>
		<servlet-class>web.ToUserManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toUserManagement</servlet-name>
		<url-pattern>/toUserManagement</url-pattern>
	</servlet-mapping>

	<!-- Configure the access of AssignPermServlet -->
	<servlet>
		<servlet-name>assignPerm</servlet-name>
		<servlet-class>web.AssignPermServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>assignPerm</servlet-name>
		<url-pattern>/assignPerm</url-pattern>
	</servlet-mapping><!--Configure the access of ToDraftedServlet--><servlet>
		<servlet-name>toDrafted</servlet-name>
		<servlet-class>web.ToDraftedServlet</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>toDrafted</servlet-name>
		<url-pattern>/toDrafted</url-pattern>
	</servlet-mapping><!--Configure the access of ToCountersignedServlet--><servlet>
		<servlet-name>toCountersigned</servlet-name>
		<servlet-class>web.ToCountersignedServlet</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>toCountersigned</servlet-name>
		<url-pattern>/toCountersigned</url-pattern>
	</servlet-mapping><!--Configure the access of ToApprovedServlet--><servlet>
		<servlet-name>toApproved</servlet-name>
		<servlet-class>web.ToApprovedServlet</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>toApproved</servlet-name>
		<url-pattern>/toApproved</url-pattern>
	</servlet-mapping><!--Configure the access of ToSignedServlet--><servlet>
		<servlet-name>toSigned</servlet-name>
		<servlet-class>web.ToSignedServlet</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>toSigned</servlet-name>
		<url-pattern>/toSigned</url-pattern>
	</servlet-mapping>
    <!-- Configure the access of AssignPermServlet -->
	<servlet>
		<servlet-name>toQueryProcess</servlet-name>
		<servlet-class>web.ToQueryProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toQueryProcess</servlet-name>
		<url-pattern>/toQueryProcess</url-pattern>
	</servlet-mapping>
	<!--Welcom Page -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
